<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.producer.dao.CustInfoMapper" >
  <resultMap id="BaseResultMap" type="com.spring.producer.entity.CustInfo" >
    <id column="cust_no" property="custNo" jdbcType="VARCHAR" />
    <result column="cust_name" property="custName" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="id_code" property="idCode" jdbcType="VARCHAR" />
    <result column="phone_no" property="phoneNo" jdbcType="VARCHAR" />
    <result column="id_type" property="idType" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    cust_no, cust_name, sex, id_code, phone_no, id_type, address
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from cust_info
    where cust_no = #{custNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from cust_info
    where cust_no = #{custNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.spring.producer.entity.CustInfo" >
    insert into cust_info (cust_no, cust_name, sex, 
      id_code, phone_no, id_type, 
      address)
    values (#{custNo,jdbcType=VARCHAR}, #{custName,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{idCode,jdbcType=VARCHAR}, #{phoneNo,jdbcType=VARCHAR}, #{idType,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.spring.producer.entity.CustInfo" >
    insert into cust_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="custNo != null" >
        cust_no,
      </if>
      <if test="custName != null" >
        cust_name,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="idCode != null" >
        id_code,
      </if>
      <if test="phoneNo != null" >
        phone_no,
      </if>
      <if test="idType != null" >
        id_type,
      </if>
      <if test="address != null" >
        address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="custNo != null" >
        #{custNo,jdbcType=VARCHAR},
      </if>
      <if test="custName != null" >
        #{custName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="idCode != null" >
        #{idCode,jdbcType=VARCHAR},
      </if>
      <if test="phoneNo != null" >
        #{phoneNo,jdbcType=VARCHAR},
      </if>
      <if test="idType != null" >
        #{idType,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.spring.producer.entity.CustInfo" >
    update cust_info
    <set >
      <if test="custName != null" >
        cust_name = #{custName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="idCode != null" >
        id_code = #{idCode,jdbcType=VARCHAR},
      </if>
      <if test="phoneNo != null" >
        phone_no = #{phoneNo,jdbcType=VARCHAR},
      </if>
      <if test="idType != null" >
        id_type = #{idType,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
    </set>
    where cust_no = #{custNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.spring.producer.entity.CustInfo" >
    update cust_info
    set cust_name = #{custName,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      id_code = #{idCode,jdbcType=VARCHAR},
      phone_no = #{phoneNo,jdbcType=VARCHAR},
      id_type = #{idType,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR}
    where cust_no = #{custNo,jdbcType=VARCHAR}
  </update>
</mapper>